{% extends "layout.html" %}
{% block content %}
<div class="col-ld-2 ml-5">
    <form method="POST" action="/data">
        {{ form.csrf_token }}
        <div class="form-group row text-center">
            <div class="col-ld-2 mr-2">
                <label>first corner</label>
                <div class="form-group">
                {% if form.lat0.errors %}
                    {{ form.lat0(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lat0.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lat0(class="form-control", placeholder="lat") }}
                {% endif %}
                </div>
                <div class="form-group">
                {% if form.lon0.errors %}
                    {{ form.lon0(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lon0.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lon0(class="form-control", placeholder="lon") }}
                {% endif %}
                </div>
            </div>
            <div class="col-ld-2">
                <label>second corner</label>
                <div class="form-group">
                {% if form.lat1.errors %}
                    {{ form.lat1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lat1.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lat1(class="form-control", placeholder="lat") }}
                {% endif %}
                </div>
                <div class="form-group">
                {% if form.lon1.errors %}
                    {{ form.lon1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lon1.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lon1(class="form-control", placeholder="lon") }}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-ld-2 mr-2">
                <label>first id</label>
                <div class="form-group">
                {% if form.node_id1.errors %}
                    {{ form.node_id1(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.node_id1.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.node_id1(class="form-control", placeholder="first id") }}
                {% endif %}
                </div>
            </div>
            <div class="col-ld-2">
                <label>last id</label>
                <div class="form-group">
                {% if form.node_id2.errors %}
                    {{ form.node_id2(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.node_id2.errors %}
                            <span>{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.node_id2(class="form-control", placeholder="last id") }}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Building parameters</label>
            <div class="row">
                {{ form.housenumber(class="form-control", placeholder="House number") }}
                {{ form.street(class="form-control", placeholder="Street name") }}
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.label(class="btn btn-outline-primary btn-block") }}
                {{ form.filter(class="btn btn-primary btn-block") }}
            </div>
        </div>
    </form>
    <form method="POST" action="/import" enctype="multipart/form-data">
        {{ import_form.csrf_token }}
        <div class="form-group">
            <label>Database Import</label>
            <div class="row" >
                {{ import_form.Import(class="form-control-file") }}
                <input type="submit" value="import" class="btn btn-primary btn-block"/>
            </div>
        </div>
    </form>
    <form method="POST" action="/export">
        <div class="form-group">
            <label>Database Export</label>
            <div class="row" >
                {{ export_form.Export(class="btn btn-primary btn-block") }}
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
            {% for thead in theads %}
                <th>{{ thead }}</th>
            {% endfor %}
            <tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}