{% extends "layout.html" %}
{% block content %}
<div class="col-ld-2 ml-4 mr-4 mt-auto mb-auto">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                {% if form.start_street.errors %}
                    {{ form.start_street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start_street.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start_street(class="form-control form-control-lg", placeholder="start street") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.start_number.errors %}
                    {{ form.start_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.start_number(class="form-control form-control-lg", placeholder="start housenumber") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.finish_street.errors %}
                    {{ form.finish_street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.finish_street.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.finish_street(class="form-control form-control-lg", placeholder="finish street") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.finish_number.errors %}
                    {{ form.finish_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.finish_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.finish_number(class="form-control form-control-lg", placeholder="finish housenumber") }}
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>
<div class="col-ld-1 border border-primary">
    <iframe src="/map" width="1200" height="650"></iframe>
</div>
{% endblock content %}